#a,
#c,
#d,
#e {
  background-color: #2dbd2d;
  height: 40px;
  width: 60px;
}
#b {
  background-color: red;
}

#f {
  background-color: red;
  height: 80px;
  width: 80px;
}
#g,
#h,
#i {
  background-color: rgb(45, 189, 45);
  column-width: 40px;
  height: 40px;
}
#j {
  background-color: blueviolet;
  width: 1px;
  height: 1px;
}
